@charset "UTF-8";
body{
	margin-left: 10%;
}
h1.titre{
	color: blue;
	text-align: center;
}

h1{
	color: black;
	font-style: italic;
}

div.article{
	padding: 2%;
	border:1px solide black;
	border-radius: 10px;
	background-color: white;
	margin:5%;
}

h2{
	color: black;
	background: silver;
	text-decoration: underline;
}

p.paragraphe{
	font-style: italic;
}